@charset "utf-8";
html {
    box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* force table to not be like table */
    /* for later use of table if needed
    table, thead, tbody, th, td, tr, caption {
        display: block;
    }

     // Hide table header //
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    /* td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: auto;
        padding-right: 10px;
        white-space: nowrap;
    } */
}
#bg {
    background: url(images/bonfire.png) repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: fixed;
    position: static;
}

body {
    margin: 0;
    background-color: black;
    
}
/* header style */
header {
    color: cornsilk;
    background: url(images/solips.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    height: 15em;
}
/* nav styles */
nav {
    background-color: black;
}
nav ul li a:link, nav ul li a:visited {
    color:rgb(251, 150, 9);
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    color:rgb(213, 49, 49);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li a {
    display: block;
    border: 1px solid;
    border-radius: .5em;
    padding: .5em 1em;
    margin: .5em;
}
nav ul li {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
}
main {
    font-family: Impact;
    font-size: 150%;
    color: bisque;
    margin-top: 5%;
}
#Homework {
    border: 3px solid #783F27;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
}
section {
    background: rgb(0,0,0,.7);
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(218, 85, 2);
    width: 240px;
    display: flex;
    flex: auto;
    flex-direction: column;
}
.Title {
    background-color: #321306;
    color: rgb(251, 150, 9);
    line-height: 3em;
    text-align: center center;
}
.Chap_number {
    border-bottom: 2px solid rgb(218,85,2);
    font-size: large;
}
p {
    text-align: center;
}

/* link style */
a:link, a:visited {
    color:cornflowerblue;
}
a:focus, a:hover, a:active {
    color: rgb(213, 49, 49);
}
a {
    text-decoration: none;
    padding-bottom: .2em;
}

/* text style */
h1 {
    font-family: Helvetica;
    text-align: center;

}
h2 {
    font-family: Verdana;
    margin-left: 5%;
}
/* Table style (not using)
table {
    border: 1px solid white;
    table-layout: auto;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
td {
    border: 1px solid white;
    height: 100px;
    background: rgb(0,0,0,.7);
} */
