@charset "utf-8";
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#navbar-nav {
    align-items: center !important;
}



header nav li a {
    font-family: Verdana;
    font-size: 15px;
}

.navbar #container {
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-content: normal;
    justify-content: space-evenly;
    align-items: center;

}


nav li.nav-item:hover {
    border-bottom: 3px solid #fff200;
    color: #fff200;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li a {
    background-color: rgb(255, 255, 255);
    display: block;
    border: 2px solid rgb(102, 0, 255);
    border-radius: .5em;
    padding: .5em 1em;
    margin: .5em;
  }
  nav ul li {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

#container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    "banner"
    "main"
    "footer";
}

header img {
    max-height: 75px;
    background-color: white;
    border-radius: 98%;
}
header {
    color: white;
    background: url(image/Banner.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    grid-area: banner;
    height: 22em;
}

a {
    text-decoration: none;
    color: rgb(244, 49, 60);
}

a.Click:hover, a.Click:active {
    color: rgb(44, 3, 118);
}

h1.title {
    font-family: Tamoha;
    font-size:25px;
    color: rgb(0, 174, 255);
    text-align: center;
    position: relative;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 10px;
}

h2 {
    color: rgb(244, 49, 60);
}

p {
    display: block;
}
body {
    margin: 0;
    text-align: center;
    background-color: rgb(244, 49, 60);
}

main {
    font-family: 'Stint Ultra Expanded';
    line-height: 1.8em;
    color: #555;
    padding: 1em;
}

#About {
    border: double 4px #EADDC4;
    border-radius: 25px;
    background-color: white;
}

#classes {
    border: 2px solid #2c055d;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    padding: 10px;
}

#Courses {
    margin: 5px;
    padding-bottom: 10px;
    border: 1px solid rgb(1, 140, 255);
    display: block;
    border: double 4px #EADDC4;
    border-radius: 25px;
    background-color: white;
}

#intro {
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}

#form {
    border: double 4px #EADDC4;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 100px;
}

#footer {
    color: #EADDC4;
    text-align: center;
    font-size: .8em;
    padding: 1em;
    grid-area: footer;
    padding-top: 2rem;
    background: #212121;
    background-size: cover;
}

#footer-cta {
    position: fixed;
    width: 48px;
    z-index: 1001;
    right: 20px;
    bottom: 67px;
    background-color: rgb(0, 174, 255);
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 50%;
    transform: scale(1.5);
}

footer {
    color: #EADDC4;
    text-align: center;
    font-size: 1.5em;
    grid-area: footer;
}

footer .list-social {
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-content: normal;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}

#about {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-content: normal;
    justify-content: space-evenly;
}

img.logo {
    margin-right: 150px;
}