body {
    background-image: url(images/blackgoose.png);
    background-color: rgb(210,220,157);
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0;
    background-repeat: no-repeat;
    background-position: center 100px;
    background-attachment: fixed;
  }
  header {
    background-color: rgb(255,255,255,.5);
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
    background: url(images/purpledot.png) center top repeat-x;
    background:
      url(images/purpledot.png) left top repeat-y,
      url(images/purpledot.png) right top repeat-y,
      url(images/gooseshadow.png) 90% bottom no-repeat;
    background-color: rgb(255,255,255,.5);
  }
  
  a {
    text-decoration: none;
  }
  a:visited {
    color: #937393;
  }
  
  a:hover {
    background-color: white;
    color: #ff00ff;
  }
  h1 {
    text-decoration: none;
    color: rgb(153,51,153);
    font: bold 1.5em Georgia, serif;
    text-shadow: .1em .1em .2em gray;
  }
  h2 {
    color: rgb(204,102,0);
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
  }
  dt {
    font-weight: bold;
  }
  strong {
    font-style: italic;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  #info p {
    font-style: italic;
  }
  .price {
    font-family: Georgia, serif;
    font-style: italic;
  }
  p.warning, sup {
    font-size: small;
  }
  .label {
    font-weight: bold;
    font-variant: small-caps;
    font-style: normal;
  }
  
  h2 + p {
    text-align: center;
    font-style: italic;
  }
  